@model GBC_Travel_Group_40.Models.BookingFlights

@{
    ViewData["Title"] = "Create";
    var flightId = ViewBag.fid;
    var PassengerId = ViewBag.pid;
}

<h1>Create</h1>

<h4>BookingFlights</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action ="Create" method="post">
            <div asp-validation-summary="ModelOnly"  class="text-danger"></div>

             <div class="form-group">
            <label asp-for="FlightId" class="control-label">Flight id: @ViewBag.fid</label>
            <input asp-for="FlightId" type="hidden" class="form-control" value="@ViewBag.fid" />
            </div>

            <div class="form-group">
                <label asp-for="PassengerId" class="control-label">PassengerId: @ViewBag.pid</label>
                <input asp-for="PassengerId" type="hidden" class="form-control" value="@ViewBag.pid" />
            </div>

            <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
